<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
   xmlns:rim="http://www.blackberry.com/ns/widgets" 
   version="1.0.0.0" rim:header="Hiragana Katakana Trainer">

   <name>Hiragana Katakana Trainer</name>
   <description>
     Learn Hiragana and Katakana with this application built just for the Blackberry Playbook!
   </description>
   <content src="index.html"/>

</widget>

